@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}


h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  color: var(--color-headers);
}

a {
  color: var(--color-main);
  text-decoration: none;
  transition: color var(--transition-time);
  &:hover {
    color: var(--color-main---hover);
  }
}
