:root {

  --padding-desktop: 1.875rem;

  --transition-time: 0.3s;

  --container-max-width: 800px;

  --color-main: #00b7ff;
  --color-main---hover: #00719e;
  --color-main-text: #fff;

  --color-headers: #004763;

  --color-danger: #ff3131;
  --color-danger-text: #fff;
  --color-danger---hover: #d82424;

  --border-color: #dddddd;

  --border-radius: 10px;

  --box-shadow: 0 0 7px rgba(0,0,0,0.1);

}
